body{
    background-color: rgb(39, 7, 63);
    color: white;
    text-align: center;
}

h1{
    font-weight: bold;
    font-family: 'Dancing Script', cursive;

}

p{
    font-family: 'Dancing Script', cursive;
}

img{
    
    max-width: 300px;
    border-radius: 8px;
}

.container{
    padding: 20px;
}