/* Add your code in each class */
body {
  background-color: rgb(35, 7, 56);
}
.container {
  overflow: hidden;
  position: relative;
  background-position: center;

  left: 40%;
  top: 200px;
  max-width: 260px;
}
.movie-card {
  overflow: hidden;
  position: relative;
  width: 280px;
  height: 400;
}
.movie-image {
  width: 280px;
  height: 350px;
  z-index: -1;
  object-fit: fit;
  box-shadow: ;
  
}
.movie-details-container {
  color: white;
  
  bottom: 1rem;
  position: absolute;
}
.descriptions {
  font-weight: lighter;
  margin-left: 1rem;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-weight: bold;
  
}
